*{
  box-sizing: border-box;
}
body{
  background-color: #f5f6ff;
}
.container{
  padding: 10px;
  /*background-color: red;*/
  max-width: 700px;
  margin: 20px auto;
}
.btn{
  border: none;
  padding: 7px 15 px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #194064;
  color: white;
  cursor: pointer;
}
.btn-add{
  background-color: #194064;
  color: white;
  cursor: pointer;
}
.addContainer{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addContainer form{

  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 5px;

}

.addContainer form label{
  font-size: 18px;
}

.addContainer form input{
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.addContainer form button{
  background-color: royalblue;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px;
}

.addContainer form .close-btn{
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  background-color: rgb(243, 10, 10);
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.tableContainer{
  margin-top: 50px;
  /* border: 1px solid; */
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.tableContainer table thead tr {
  background-color: #f5f6ff;
 }

.tableContainer table thead tr th, 
.tableContainer table tbody tr {
   min-width: 200px;
   background-color: rgb(232, 188, 188);
   text-align: center;
   padding: 7px;
}

.tableContainer table tbody tr th {
  border-bottom: 1px solid;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
